* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    background: #2B3033FF;
}

.content{
    margin-left: 30px;
}

.content h1{
    color: #6d6b6b;
}

.content ul {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 4px solid #44907a;
    overflow-y: scroll;
    height: 300px;
    width: 40%;
    background-color: #16272f;

}

/* List element */
.content li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 1.3rem;
}


/* Element counter */
.content li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 3rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, #e3850a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Element separation */
.content li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
